<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo's</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Dojo Contact</h1>
        <form action="" method="post">
            <label for="message">Message</label>
            <input type="text" name="message" placeholder="your message here">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="email">
        </form>
    </body>
</html>
