<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey Index</title>
        <link rel="stylesheet" href="{{url_for('static', filename='../static/style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <form action="/result" method="POST">
                <label>Your Name:</label><input class="name" type="text" name="name"><br>
                <label>Dojo Location:</label>
                <select name="dojo">
                    <option value="berkeley">Berkeley</option>
                    <option value="chicago">Chicago</option>
                    <option value="dallas">Dallas</option>
                    <option value="los_angeles">Los Angeles</option>
                    <option value="online">Online</option>
                    <option value="orange_county">Orange County</option>
                    <option value="seattle">Seattle</option>
                    <option value="silicon_valley">Silicon Valley</option>
                    <option value="washington_dc">Washington DC</option>
                </select><br>
                <label>Favorite Language:</label>
                <select class="right" name="language">
                    <option value="javascript">Javascript</option>
                    <option value="python">Python</option>
                </select><br>
                <label>Comment (optional):</label>
                <textarea name="comment" rows="4" cols="57"></textarea>
                <input class="btn" type="submit" value="Button">
            </form>
        </div>
    </body>
</html>
