<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninjas</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'disappearing_ninjas/css/style.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <p class="blue">Leondardo</p>
            <img src="{% static 'disappearing_ninjas/images/blue.jpg' %}" alt="leondardo">
            <p class="orange">Michelangelo</p>
            <img src="{% static 'disappearing_ninjas/images/orange.jpg' %}" alt="michelangelo">
            <p class="red">Raphael</p>
            <img src="{% static 'disappearing_ninjas/images/red.jpg' %}" alt="raphael">
            <p class="purple">Donatello</p>
            <img src="{% static 'disappearing_ninjas/images/purple.jpg' %}" alt="donatello">
        </div>

    </body>
</html>
