<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Registration</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="wrapper">


            <h2>REGISTER</h2>

            {% if session['register_msg'] %}
            <div class="message error">
                {% for message in session['register_msg'] %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <form action="/users" method="POST">

                <label for="first_name" id="first_name">First Name:</label>
                <input type="text" name="first_name" placeholder="first name">
                <label for="last_name" id="last_name">Last Name:</label>
                <input type="text" name="last_name" placeholder="last name">
                <label for="email" id="email">Email:</label>
                <input type="text" name="email" placeholder="email">
                <label for="password" id="password">Password:</label>
                <input type="password" name="password" placeholder="password">
                <label for="confirm_password" id="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" placeholder="confirm password">
                <input class="btn" type="submit" name="submit" value="SUBMIT">

            </form>

        </div>


    </body>
</html>
